* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL SETTING */
.side-border {
    border: 0 0 0 5px;
    border-color: darkgray;
}
/* Header */
.header-background {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: darkgrey;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    
}
header h1 {
    margin: 0;
}
header h1 a {
    text-decoration: none;
    font-weight: bold;
    font-size: 36px;
    color: rgba(63,63,191,1);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    font-weight: lighter;
    font-size: 1.5vw;
    padding: 10px 15px;
    text-decoration: none;
}

/* Hero Start */
.hero {
    background-image: url("./images/background.jpg");
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}
.hero h2 {
    color: darkblue;
    font-size: 30px;
    margin: 80px;
    font-style: italic;
    background-color: white;
    border-radius: 15px;
    opacity: 0.8;
}
.photo-img {
    background-image: url("./images/pete-photo.jpg");
    width: 200px;
    min-height: 200px;
    margin: 15px;
    background-size: cover;
    transform: rotate(-90deg);
    border-radius: 15px;
    opacity: 0.9;
}
/* About Me Start */
.body-background {
    background-color: darkgray;
    width: 100%;
    padding: 1px;
    margin-top: 7px;
}
.bio {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    padding-bottom: 50px;
    width: 95%;
    padding: 20px;

    
}
.about-me-title {
    color: darkblue;
    font-size: 36px;
    font-weight: bold;
    flex: 1 30%;
    text-align: center;
    


}
.about-me-story {
    color: darkblue;
    font-size: 30px;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 2 70%;
    border-left: 5px solid darkblue;
    padding-left: 50px;
}